:root {
    --grey: #9797978a;
    --green: linear-gradient(
        to right top,
        #9b9b00,
        #a3a500,
        #acaf00,
        #b4ba00,
        #bcc400
    );
    --blue: #00828e;
    --unitText-color: #000000;
}

#converter {
    border: none;
}

#toConvert,
#outputDisplay {
    border: 0.25rem solid var(--grey);
    border-radius: 1rem;
    overflow: hidden;
}

#toConvert input {
    height: 2em;
    border: none;
    width: 100%;
    font-size: 1rem;
}

#toConvert input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#toConvert p {
    height: 2em;
    background-image: var(--green);
    font-size: 1rem;
    color: var(--unitText-color);
    font-weight: bold;
}

#outputDisplay p {
    height: 2em;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

#outputDisplay #unit {
    background-image: var(--green);
    font-weight: bold;
}

#buttons button {
    background-image: linear-gradient(
        to right top,
        #00828e,
        #008c96,
        #00969d,
        #00a0a4,
        #00aaaa
    );
    width: 5rem;
    margin: 0.5rem;
    font-size: 0.6rem;
    border: none;
}

#buttons .active {
    background-image: var(--green);
}

@media only screen and (min-width: 768px) {
    #converter {
        border-radius: 1rem;
        border: 0.5rem solid var(--blue);
    }

    #toConvert input,
    #toConvert p,
    #outputDisplay #output,
    #outputDisplay #unit {
        font-size: 1.5rem;
    }
    #buttons button {
        width: 6rem;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 992px) {
    #buttons button {
        width: 8rem;
        font-size: 1rem;
    }
}
